<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.web.common.data.mapper.LicenceMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.web.common.data.pojo.LicenceObj" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="used_num" property="usedNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="sec_key" property="secKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, name, remark, num,used_num,create_time,sec_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from licence_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from licence_info
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cloud.web.common.data.pojo.LicenceObj" >
    insert into licence_info (uuid, name, remark, num,used_num,create_time,sec_key)
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{num,jdbcType=INTEGER},#{usedNum,jdbcType=INTEGER},#{createTime,jdbcType=INTEGER},#{secKey,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cloud.web.common.data.pojo.LicenceObj" >
    update licence_info
    set name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      used_num = #{usedNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      sec_key = #{secKey,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>